* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin: 100vw;
    position: fixed;
}

header p {
    font-size: 24px;
    display: inline;
    padding-right: 9%;
    color: #ffffff;
    z-index: 1;
}

header .p1 {
    padding-left: 2.5%;
}

header p:hover {
    color: #ff9f63;
}

.first {
    width: 99vw;
    height: auto;
    position: relative;
    top: 0;
    z-index: 0;
}

.first p{
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    top: 60%;
    left: 5%;
}

.first img{
    width: 100%;
}

.merit img{
    width: 100%;
    height: auto;
    object-fit: contain;
    top: 0;
}

.tool {
    padding-top: 250px;
    height: auto;
}

.tool h2 {
    font-size: 300%;
}

.tool h3 {
    
}

.tool img {
    width: 50%;
    height: auto;
    padding-left: 5%;
}

.tool p {
    font-size: 300%;
}