* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bubblegum Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

h3 {
    color: rgb(2, 0, 118);
}

h4 {
    color: rgb(2, 0, 118);
}

header {
    z-index: 5;
    height: 100%;
    width: 20%;
    position: fixed;
    display: flex;
}

header p {
    font-size: 36px;
}

header a {
    font-size: 36px;
}

header a:hover {
    color: #855638;
}

.title {
    padding-top: 8%;
    display: flex;
    padding-left: 10%;
    padding-bottom: 8%;
    width: 100%;
}

.title_a {
    padding-left: 54%;
    font-weight: 15;
}

.title_number {
    position: relative;
    font-size: 430%;
    font-weight: 15;
    width: 5.2%;
}

.title_name {
    font-size: 250%;
    font-weight: 15;
    padding-top: 1.1%;
    padding-left: 52%;
}

.title_number::after {
    position: absolute;
    top: 50%;
    width: 1000%;
    max-width: 1000px;
    height: 1.5px;
    background-color: #000000;
    content: "";
}

#first {
    position: relative;
    top: 0;
    z-index: 0;
    margin: 0;
    line-height: 0.4;
}

#first p{
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    top: 60%;
    left: 7%;
}  
#first img{
    width: 100%;
}

#merit {
    background-image: url(/images/c1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vb;
}

#merit img{
    width: 100%;
    height: auto;
    object-fit: contain;
    top: 0;
}

.merit-content {
    height: 200%;
    padding-left: 55%;
    padding-top: 0%;
}

.merit-content p {
    font-size: 200%;
    line-height: 2;
}

.more-button {
    width: 23%;
    border: 1px solid #000000;
}

.more-button p{
    color: #000000;
    border: 1px solid #000000;
    margin: 20px;
}

#tool {
    height: 250vh;
}

.tool-img img {
    width: 39vw;
    height: auto;
    padding-left: 2vw;
}

.tool-contents {
    display: flex;
}

.tool-items {
    padding-left: 5vw;
}


.tool-items h4 {
    font-size: 250%;
    font-weight: 5;
    width: 60%;
}

.tool-items h5 {
    font-size: 200%;
    padding-top: 10%;
    font-weight: 15;
}

#recipe {
    position: relative;
}

.recipe-images img {
    height: 200px;
    margin: 200px;
}

.img-block {
    display: flexbox;
}

.open-content {
    background-image: url(/images/n3.jpg);
    background-size: 120%;
    object-fit: contain;
    width: 50vw;
    height: 150vh;
}

.open-content h4 {
    padding-top: 10%;
    font-size: 45px;
    display: grid;
    place-items: center;
    font-weight: 100;
}

.open-content h5 {
    width: 70%;
    margin: 4%;
    padding-left: 5%;
    font-size: 30px;
    font-weight: 100;
    border-bottom: 2px solid #D64D00;
}

.open-content p {
    border-bottom: 1px solid #393939;
    margin: 3%;
    padding-left: 2.5%;
    width: 70%;
}

.pasta-content {
    display: flexbox;
}

footer {
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #8f4800a2;
    font-size: 24px;
	bottom: 0;
}